<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Rock Paper Scissors Game</title>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Rock-Paper-Scissors Game</h1>
      </div>

      <form action="/result" method="post">
        <div class="row">
          <div class="col-xs-6">
            <h4>Player One select your attack:</h4>
            <div class="form-group radio-group btn-group" role="group" aria-label="...">
              <div class="radio">
                <label>
                  <p class="btn btn-danger btn-lg">ROCK</p>
                  <input class="radio" type="radio" name="player_one" value="rock" style="display:none;"  />
                </label>
              </div>
              <div class="radio">
                <label>
                  <p class="btn btn-success btn-lg">PAPER</p>
                  <input class="radio" type="radio" name="player_one" value="paper" style="display:none;" />
                </label>
              </div>
              <div class="radio">
                <label>
                  <p class="btn btn-primary btn-lg">SCISSORS</p>
                  <input class="radio" type="radio" name="player_one" value="scissors" style="display:none;" />
                </label>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <h4>Player Two select your attack:</h4>
            <div class="form-group radio-group btn-group" role="group" aria-label="...">
              <div class="radio">
                <label>
                  <p class="btn btn-danger btn-lg">ROCK</p>
                  <input class="radio" type="radio" name="player_two" value="rock" style="display:none;"  />
                </label>
              </div>
              <div class="radio">
                <label>
                  <p class="btn btn-success btn-lg">PAPER</p>
                  <input class="radio" type="radio" name="player_two" value="paper" style="display:none;" />
                </label>
              </div>
              <div class="radio">
                <label>
                  <p class="btn btn-primary btn-lg">SCISSORS</p>
                  <input class="radio" type="radio" name="player_two" value="scissors" style="display:none;" />
                </label>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" name="submit" class="btn btn-warning btn-lg">Play your hands!</button>
      </form>
    </div>
  </body>
</html>
