<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Rock Paper Scissors Game</title>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Rock-Paper-Scissors Game</h1>
      </div>
      {% if result.playGame(player1, player2) == "Draw" %}
        <h3>It's a draw!!!</h3>
      {% endif %}
      {% if result.playGame(player1, player2) == "Player 1" %}
        <h3>Player One Won!!!</h3>
      {% endif %}
      {% if result.playGame(player1, player2) == "Player 2" %}
        <h3>Player Two Twon!!!</h3>
      {% endif %}
      {% if result.playGame(player1, player2) == Null %}
        <h3>Hey dum-dums! You both need to select an attack!!!!!!</h3>
      {% endif %}

      {% if result.winningAttack == "rock" %}
      <img src="img/Rock_Lobster.png" alt="rock">
      {% elseif result.winningAttack == "paper" %}
      <img src="img/paper.jpg" alt="paper">
      {% elseif result.winningAttack == "scissors" %}
      <img src="img/scissors.jpg" alt="scissors">
      {% else %}
        <p>HOW DID I GET HERE!?</p>
      {% endif %}
      <form action="/">
      <button type="submit" class="btn btn-success btn-lg">Play again?</button>
      </form>
    </div>
  </body>
</html>
